{% extends "base.html"%}
    {%block title%}ABOUT{%endblock%}

{% block content%}
<div class="about-us-page">
    <div class="about-history">
        <h1>Liza's Cake House</h1>
    </div>
    <div class="about-history-body">    <!--Alin it here.-->
        <div>
            <!-- Three images with the background color-->
        </div>

        <div>
            <!-- The about history page -->
        </div>
    </div>

    <!--I can duplcate it nalang siguro. gonna do it nalang bukas waaah-->
</div>

{% endblock %}