<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}Liza's Cake House{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Arima&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Francois+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=search" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Francois+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!--<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=menu" /> -->
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

    <!-- NAVBAR -->
    <header>
        <!--
    <div class="search">
    <span class="material-symbols-outlined">search</span>
    <input type="text" placeholder="Search..." class="search-input">
    </div>
-->

        <section id="header">
            <div class="logo-header">
                <a href="#"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo"></a>
                <p>Liza's Cake House</p>
            </div>
            <nav class="header-text">
                <a href="{{ url_for('home') }}">Home</a>
                <a href="{{ url_for('gallery') }}">Gallery</a>
                <a href="{{ url_for('bookings') }}">Bookings</a>
                <a href="{{ url_for('about') }}">About Us</a>
                <a href="{{ url_for('contact') }}">Contact Us</a>
            </nav>

        </section>
    </header>

    {% block content %} {% endblock %}

    <footer class="footer">
        <div class="footer-body">
            <div class="footer-container">

                <!-- Logo -->
                <div class="footer-logo">
                    <img src="{{ url_for('static', filename='images/logo.png')}}" alt="Logo">
                </div>

                <!-- Quick Links -->
                <div class="footer-links">
                    <h3>Quick Links</h3>
                    <div class="links-grid">
                        <div>
                            <a href="#">About Us</a>
                            <a href="#">Hosting</a>
                            <a href="#">Developers</a>
                        </div>
                        <div>
                            <a href="#">FAQs</a>
                            <a href="#">Contact Us</a>
                        </div>
                    </div>
                </div>

                <!-- Contact -->
                <div class="footer-contact">
                    <h3>Contact Us</h3>

                    <p><i class="fa-solid fa-location-dot"></i> address</p>
                    <p><i class="fa-regular fa-envelope"></i> lizascakehouse@gmail.com</p>

                    <button class="subscribe-btn">Subscribe</button>

                    <h4>Follow us</h4>
                    <div class="socials">
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-telegram"></i>
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-google"></i>
                    </div>

                    <div class="store-buttons">
                        <img src="images/googleplay.png" alt="google play">
                        <img src="images/appstore.png" alt="appstore">
                        <img src="images/windows.png" alt="windows">
                    </div>
                </div>

            </div>

            <!-- Bottom Bar -->
            <div class="footer-bottom">
                <p>© 2026 All Rights Reserved</p>

                <div class="footer-bottom-links">
                    <a href="#">Privacy Policy</a>
                    <a href="#">Terms of Use</a>
                    <a href="#">Sales and Refunds</a>
                    <a href="#">Legal</a>
                    <a href="#">Site Map</a>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>