{% extends "base.html"%}
    {%block title%}BOOKINGS{%endblock%}

{% block content%}
<div class="booking-page">

    {% if bookings %}
        <div class="booking-list">
            {% for b in bookings %}
                <div class="card">
                    <h3>{{ b.name }}</h3>
                    <p>{{ b.email }}</p>
                </div>
            {% endfor %}
                
        </div>
    {% else %}
        <h1>You haven't booked anything yet.</h1>

    {% endif %}

<a href="{{ url_for('book') }}">+ Book an event</a>

</div>

{% endblock %}