{% extends "base.html"%}
    {%block title%}CONTACT{%endblock%}

{% block content%}

<div class="contact-page">
    <div class="contact-header1">
        <p>Contact Us</p>

        <img src="{{ url_for('static', filename='images/location1.png')}}" alt="location">
    </div>

    <div class="visit-us"> 
        <h6>Visit Us</h6>
        <p><i class="fa-solid fa-location-dot"></i> 51 M Acevida, Siniloan, Laguna</p>
        <!--Div 1 (left)-->
    </div>
   <div class="concerns">
    <!--Div 2 (right)-->
   </div>

</div>

{% endblock %}