{% extends "base.html"%}
    {%block title%}CONTACT{%endblock%}

{% block content%}

<div class="contact-page">
    <div class="contact-header1">
        <p>Contact Us</p>

        <img src="{{ url_for('static', filename='images/location1.png')}}" alt="location">
    </div>

    <div class="visit-us-container">

    <div class="visit-us"> 
        <h6>Visit Us</h6>
        <p><i class="fa-solid fa-location-dot"></i> 51 M Acevida, Siniloan, Laguna</p>
        <!--Div 1 (left)-->
    </div>
   <div class="visit-us">
    <h6>We'd like to hear from you</h6>
    <div class="input-field-container">
        <input type="text" placeholder="Name" class="name-field input-field">
        <input type="email" placeholder="Email" class="email-field input-field">
        <textarea placeholder="Message" class="message-field input-field"></textarea>
    </div>

    <!--Div 2 (right)-->
   </div>

</div>

</div>

{% endblock %}