{% extends "base.html"%}
    {%block title%}MENU{%endblock%}

{% block content%}
<!-- HERO SECTION

 <div class="menu-page1">
    <div class="slider-container" data-aos="fade-up">
      <div class="slider-bg align" data-aos="fade-up"> </div>

       -->

      <!-- Slide Dots
      <div class="slide-dots">
        <div class="dot-small"></div>
        <div class="dot-large"></div>
        <div class="dot-small"></div>
        <div class="dot-small"></div>
      </div>

       Slider Arrows
      <div class="slider-arrows">
        <div class="arrow"><i class="fas fa-chevron-left"></i></div>
        <div class="arrow"><i class="fas fa-chevron-right"></i></div>

        
      </div>

      
    </div>
  </div>

 -->



<!-- MENU SECTION -->
<div class="menu-container-main">
<section class="menu-container" data-aos="fade-up">
  <h1>Gallery</h1>
<section id="menu-items"> 
  <div class="menu-boxes">

    {% for album in albums %}
    <a href="{{ url_for('album', album_name=album.name) }}">
      <div class="menu-cards" data-aos="fade-up"> 
        <img src="{{ url_for('static', filename='images/' + album.cover) }}">
        <div class="overlay"></div>
        <h2>{{ album.title }}</h2>
      </div>
    </a>
    {% endfor %}

  </div>
</section>
    
</section>

</div>
  <!-- JAVASCRIPT -->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
AOS.init();
</script>

{% endblock %}